.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-top-jumbo {
    padding-top: 20%;
}

.padding-small {
    padding: 0.5rem
}